@page "/counter"
@* @inject ServicioSingleton singleton
@inject ServicioTransient transient *@

<PageTitle>Contador (@currentCount)</PageTitle>

<h1 style="color: @AppState.Color">Counter</h1>

<div style="display: flex" class="mt-4">
    <div style="width:150px" class="me-2">
        <select @bind="@AppState.Color" class="form-select">
            <option value="green">Verde</option>
            <option value="red">Rojo</option>
            <option value="blue">Azul</option>
        </select>
    </div>
    <div style="width:150px">
        <select @bind="@AppState.Size" class="form-select">
            <option value="12px">12px</option>
            <option value="20px">20px</option>
            <option value="30px">30pc</option>
        </select>
    </div>
</div>

<p role="status" style="color: @AppState.Color; font-size: @AppState.Size">Current count: @currentCount</p>
@* <p role="status">Singleton count: @singleton.valor</p>
<p role="status">Transient count: @transient.valor</p> *@

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="IncrementCountJavascript">Click me from Javascript</button>

@* @code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        singleton.valor = currentCount;
        transient.valor = currentCount;
    }
} *@
