@inject SweetAlertService swal
@inject IRepositorio repo
<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm Model="Pelicula" OnValidSubmit="OnDataAnnotationValidated">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Título:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Titulo"></InputText>
            <ValidationMessage For="@(() => Pelicula.Titulo)" />
        </div>
    </div>

    <div class="mb-3">
        <label>En cartelera:</label>
        <div>
            <InputCheckbox @bind-Value="@Pelicula.EnCartelera"></InputCheckbox>
            <ValidationMessage For="@(() => Pelicula.EnCartelera)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Trailer:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Trailer"></InputText>
            <ValidationMessage For="@(() => Pelicula.Trailer)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha de lanzamiento:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Pelicula.FechaLanzamiento"></InputDate>
            <ValidationMessage For="@(() => Pelicula.FechaLanzamiento)" />
        </div>
    </div>

    <div class="mb-3">
        <CustomInputImg Label="Poster" imagenSeleccionada="ImgSeleccionada" imagenUrl="@imgUrl" />
    </div>

    <div class="mb-3 form-markdown">
        <InputMarkdown @bind-Value="@Pelicula.Resumen" For=@(() => Pelicula.Resumen) Label="Biografía" />
    </div>

    <div class="mb-3">
        <label>Géneros</label>
        <div>
            <SelectorMultiple Seleccionados="Seleccionados" NoSeleccionados="NoSeleccionados"></SelectorMultiple>
        </div>
    </div>

    <div class="mb-3">
        <label>Actores</label>
        <div>
            <SelectorMultipleTypeahead1 Context="Actor" SearchMethod="BuscarActores"
                                        ElementosSeleccionados="ActoresSeleccionados">
                <MyListTemplate>
                    @Actor.Nombre / <input type="text" placeholder="Personaje" @bind="Actor.Personaje" />
                </MyListTemplate>
                <MyResultTemplate>
                    <img style="width: 50px" src="@Actor.Foto" />
                    @Actor.Nombre
                </MyResultTemplate>
            </SelectorMultipleTypeahead1>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Guardar cambios</button>

</EditForm>
