@inject SweetAlertService swal

<NavigationLock></NavigationLock>

<EditForm Model="Actor" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Actor.Nombre"></InputText>
            <ValidationMessage For="@(() => Actor.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha nacimiento:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Actor.FechaNacimiento"></InputDate>
            <ValidationMessage For="@(() => Actor.FechaNacimiento)" />
        </div>
    </div>

    <div class="mb-3">
        <CustomInputImg Label="Foto" imagenSeleccionada="ImgSeleccionada" imagenUrl="@imgUrl" />
    </div>

    <div class="mb-3 form-markdown">
        <InputMarkdown @bind-Value="@Actor.Biografia" For=@(() => Actor.Biografia) Label="Biografía" />
    </div>

    <button class="btn btn-success" type="submit">Guardar cambios</button>

</EditForm>